*{
    text-align: center;
    margin: 0px;
}

p ,h1, h2, input, button{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
 }

body{
    background-image: url(./images/background1.jpg);
    background-size: cover;
    backdrop-filter: blur(10px);
    object-fit: contain;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: rgba(157, 157, 220, 0.851);
    width: 60%;
    height: 600px;
    margin-top: 30px;
    margin-inline: 20%;
    padding: 20px;
    position: relative;
    border-radius: 20px;
}
.choice{
    display: black;
    height:100px;
    width:100px;
    border-radius: 50%;
    margin-inline: 3%;
    img{
        height: 100%;
        width:100%;
        border-radius: 50%;
    }
}
.choice:hover{
    /*opacity:0.5;*/
    transform:scale(1.2);
    transition-duration: 0.4s;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.3);
}
.choices{
    height: 105px;
    width:60%;
    justify-self: center;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 20px;
    /* padding-top: 160px;
    padding-bottom: 12px; */
    display: none;
    /* gap: 11% */
}
.heading{
    top: 20px;
    text-align: center;
    /* margin-bottom: 30px; */
    justify-self: top;
    background-color: rgb(76, 107, 147,0);
    border-radius: 10px;
    font-weight: 900;
    font-size: 50px;
    color: #fff;
}
.score{
    display: none;
    flex-direction: row;
    h2{
        background-color: #fff;
   }
}
#GameUpdate{
    height: 50px;
    font-size: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 500;
}
.score-head{
    background-color: #ffffff00;
    display: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top:0px;
    font-size: 35px;
    font-weight: 600;
    color: white;
}

#UpdateGame{
    font-size: 100px;
    width: 70px;
}
#updateGame h2{
    display: inline;
    width: 50px;
}
.scores{
    height: 120px;
    width: 100px;
    background-color:azure;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
    margin-inline: 50px;
    border-radius: 10px;
    p{
        font-size: 50px;
        margin: 0px;
    }
   
}
.score{
    justify-content: center;
     h1{
        border-bottom: dotted;
    }
}

.score-board{
    background-color: #8b77d3f7;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    margin-top:15px;
    display: none;
}


.user{
    h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    }
}
.user-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-box{ input{
    border: 1px solid white;
    border-radius: 20px;
    width: 270px;
    font-size: 20px;
    height: 48px;
    margin: 20px;
    margin-top: 30px;
}
    button{
    background-color: rgb(6, 149, 162);
    color: white;
    font-size: 23px;
    border: 1px solid rgb(34, 200, 150);
    border-radius: 20px;
    padding: 5px;
    /*  */
    margin-top: 15px;
    padding: 7px 10px;   
}
#start-game:hover{
    transform: scale(1.1);
    background-color: #8b77d3f7;

}
}
.selectors{
    display:none;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    border-radius: 5%;
    .selector{
        width: 30%;
        border-radius: 10px;
        margin-inline: 5%;
        background-color: #34c3bc;
        h1{
            background-color: #0e716c;
            border-radius: 10px;
            color: #fff;
            font-weight: 600;
            
        }
    }
}
